# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.app
*.DS_Store
wallet-adapter

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Configurations
config.yaml

# Others
logs
TODO
.DS_Store
__debug_bin