deploymentType: kubernetes
template: k8s-service
serviceConfig:
  id: crypto-wallet-adapter
  port: 80
  targetPort: 8200
  group: crypto-gateway
  containers:
    - name: wallet-adapter-service
      image: bundle/wallet-adapter-service
      fromDockerFile: ./Dockerfile
      containerPorts:
        - 8200
      env:
        SECURITY_BUNDLE_PUBLICKEY: 'config:default:authPublicKey'
        COLDWALLETSMSNUMBER: 'config:crypto-wallet-adapter:coldWalletSmsNumber'
        coldWalletSmsNumber

resources:
  databases:
    - type: MYSQL
      name: walletAdapter
      environmentMap:
        host: DB_HOST
        user: DB_USER
        password: DB_PASSWORD
        name: DB_NAME

  authentication:
    description: Wallet-adapter-service
    permissions:
      - svcs.key-management.sign-transaction
      - svcs.key-management.create-address
      - svcs.crypto-adapter.broadcast
      - svcs.order-book.deposit
      - svcs.order-book.assets-balance
      - svcs.order-book.withdraw-external
      - svcs.notifications.send-sms
      - svcs.notifications.send-email
      - svcs.notifications.send-push

    environmentMap:
      serviceId: AUTHENTICATION_SERVICE_SERVICE_ID
      token: AUTHENTICATION_SERVICE_TOKEN
      ENVIRONMENT: SENTRY_ENVIRONMENT

# Definition for Cron Jobs, see https://bundle-deploy-config.s3.amazonaws.com/viewer/index.html
cronJobs:
  - name: wallet-adapter-trigger-job-process
    schedule: '*/5 * * * *' #Run every 5 minutes
    allowConcurrentRun: false
    grantAwsAccess: false
    container:
      name: request-initiator
      image: curlimages/curl:latest
      args:
        - '-Ssfv'
        - 'http://crypto-wallet-adapter/assets/process-transaction'
        - '-XPOST'
      env:
        ENVIRONMENT: 'config:default:environment'

  - name: wallet-adapter-trigger-batch-job-process
    schedule: '*/30 * * * *' #Run every 30 minutes
    allowConcurrentRun: false
    grantAwsAccess: false
    container:
      name: request-initiator
      image: curlimages/curl:latest
      args:
        - '-Ssfv'
        - 'http://crypto-wallet-adapter/assets/process-batched-transactions'
        - '-XPOST'
      env:
        ENVIRONMENT: config:default:environment

  - name: crypto-sweep-task
    schedule: '0/15 * * * *'
    allowConcurrentRun: false
    grantAwsAccess: false
    container:
      name: sweep-task
      image: bundle/wallet-adapter-service
      fromDockerFile: ./Dockerfile
      command: /app/bin/sweep_job
      env:
        SECURITY_BUNDLE_PUBLICKEY: 'config:default:authPublicKey'
        ENABLEFLOATMANAGER: 'config:crypto-wallet-adapter:enableFloatManager'

  - name: crypto-floatmanager-task
    schedule: '10 */4 * * *'
    allowConcurrentRun: false
    grantAwsAccess: false
    container:
      name: floatmanager-task
      image: bundle/wallet-adapter-service
      fromDockerFile: ./Dockerfile
      command: /app/bin/float_manager
      env:
        SECURITY_BUNDLE_PUBLICKEY: 'config:default:authPublicKey'
        ENABLEFLOATMANAGER: 'config:crypto-wallet-adapter:enableFloatManager'


config:
  enableFloatManager: 'false'
  coldWalletSmsNumber: '+2348178500655'