config:
  enableFloatManager: 'true'
  floatCronInterval: '10 */4 * * *'
  BTC_minimumSweep: '1.0'
  BNB_minimumSweep: '5'
  ETH_minimumSweep: '0.05'
  BUSD_minimumSweep: '300'
  WRX_minimumSweep: '2000'
  coldWalletSmsNumber: '+2349084859418'