name: Build and test Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Install and set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out source code
      uses: actions/checkout@v1

    - name: Build app image
      run: docker build -t walletadapter .
